@charset "UTF-8";
/* ==========================================================================
* Кнопки
* ========================================================================== */

.button{
	display: inline-block;
	border: 0;
	outline: none;
	text-align: center;
	text-decoration: none;
	padding: 0;	
	
	transition: all .3s;
	line-height: 1;


	cursor: pointer;

	&:disabled{
		background: #ccc;
		cursor: default;
		&:hover{
			background: #ccc;
		}
	}


	&--color{
		background: #000;
		color: #fff;
		&:hover{
			background: lighten(#000, 5%);
		}
		&:active{
			background: darken(#000, 5%);
		}
	}

	&--yellow{
		background: $yellow;
		color: $text;
		font-family: $pribambas;
		&:hover{
			background: lighten($yellow, 5%);
		}
		&:active{
			background: darken($yellow, 5%);
		}
	}

	&--grey{
		$startcolor: #d7d7d7;
		$endcolor: #aeafa9;
		font-family: $museo;
		background: $startcolor;
		background: linear-gradient(to bottom, $startcolor 0%, $endcolor 100%);
		color: #000;
		border: 0px;
		box-shadow: 0 2px 3px rgba(0,0,0,.5);
		text-shadow: 0 1px 0 rgba(255,255,255,.7);
		position: relative;
		transition: none;
		&:hover{
			background: lighten($startcolor, 5%);
			background: linear-gradient(to bottom, lighten($startcolor, 5%) 0%, lighten($endcolor, 5%) 100%);
		
		}
		&:active{
			background: darken($startcolor, 2%);
			background: linear-gradient(to bottom, darken($endcolor, 2%) 0%, darken($startcolor, 2%) 100%);
			box-shadow: inset 0 2px 5px rgba(255,255,255,.3);
			top: 2px;
		}
	}

	&--m{
		border-radius: 8px;
		font-weight: 700;
		font-size: 12px;
		padding: 8px 20px 8px;
	}

	&--round{
		border-radius: 23px;
		font-weight: 400;
		font-size: 18px;
		//height: 46px;
		font-weight: 700;
		padding: 14px 26px 14px;
	}

	&--l{
		border-radius: 10px;
		font-weight: 400;
		font-size: 24px;
		padding: 15px 26px 17px;
		@media(max-width: 766px){
			font-size: 18px;
		}
	}

	&--xl{
		border-radius: 10px;
		font-weight: 400;
		font-size: 36px;
		padding: 13px 20px 15px;
		@media(max-width: 766px){
			font-size: 25px;
		}
	}

	&--block{
		width: 100%;	
		padding-left: 0;
		padding-right: 0;
	}


}

/* ==========================================================================
* Формы
* ========================================================================== */

.form{

	@include clearfix;

	&__line{
		@include clearfix;
		margin-bottom: 16px;
	}

	&__input-placeholder{
		position: relative;
		margin-bottom: 16px;

		&--inline{
			width: 48%;
			float: right;
			margin-bottom: 0;
			&:first-child{
				float: left;
			}
		}
	}

	label.error{
		font-size: 13px;
		color: #ef6d51;
		//position: absolute;
		//top: -13px;
		//right: 0;
		//margin-left: 0;
		//padding: 5px;
		//text-align: center;
		//white-space: nowrap;
		///color: #fff;
		///border-radius: 5px;
		//background: #000;
		//background: rgba(0, 0, 0, .7);
	}

	&__button-placeholder{
		margin-top: 20px;
	}

	&__input,
	&__textarea{
		-webkit-appearance: none;
		padding: 0 0 0 20px;
		width: 100%;
		outline: none;
		border: 1px solid #d7d7d7;
		max-width: 100%;
		font-size: 15px;
		font-family: $mainFontFamily;
		background: #f6f5f1;
		border-radius: 5px;
		box-shadow: inset 0 2px 3px rgba(0,0,0,.13); 
		&.error{
			border-color: #ef6d51;
		}
	}
	&__input{
		&--h40{
			height: 40px;
			line-height: 40px;
		}
	}
	&__textarea{
		padding-top: 10px;
		height: 210px;
		&--h120{
			height: 120px;
		}
	}
}


/* ==========================================================================
 * checkbox
 * ========================================================================== */

.checkbox{
	display: inline-block;
	position: relative;

	&__input{
		margin: -2px 0 0;

	}
}
