@charset "UTF-8";
/* ==========================================================================
 * Layout
 * ========================================================================== */

.container{
	position: relative;
	overflow: hidden;

	&--kids{
		&:before,
		&:after{
			content: '';
			position: fixed;
			top: 0;
			z-index: 500;
		}

		&:before{
			left: 0;
			@include sprite($cloud-left);
		}

		&:after{
			right: 0;
			@include sprite($cloud-right);	
		}


		@media (max-width: 1000px) {
			&:before,
			&:after{
				display: none;
			}
		}
	}

	&--adults{
		.slide__title{
			font-family: $museo;
		}

		.bx-prev{
			left: 10px;
			@include sprite($prev-round);	
			@media(min-width: 1450px){
				left: 150px;
			}
			@media(max-width: 766px){
				transform: scale(.5);
			}
		}

		.bx-next{
			right: 10px;
			@include sprite($next-round);
			@media(min-width: 1450px){
				right: 150px;
			}
			@media(max-width: 766px){
				transform: scale(.5);
			}
		}
	}

	&__content{
	}

	&__slider{
		overflow: hidden;
	}

	&__nav{
		position: fixed;
		bottom: 30px;
		left: 0;
		right: 0;
		z-index: 500;
	}
}

/* ==========================================================================
 * nav
 * ========================================================================== */

.nav{

	transition: all .3s;

	@media(max-width: 1000px){
		display: none;
	}

	&__list{
		text-align: center;
		margin: 0 -30px;
	}

	&__item{
		display: inline-block;
		vertical-align: bottom;
		margin: 0 10px 0;
		width: 160px;
	}

	&__href{
		font-size: 14px;
		position: relative;
		display: block;
		padding: 60px 0 0;

		&:before{
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			margin: auto;
		}

		&:hover{
			&:before{
				opacity: .9;	
			}
		}

		&--bg{
			&:before{
				@include sprite($icon-bg);
			}
		}

		&--bell{
			&:before{
				@include sprite($icon-bell);
			}
		}

		&--book{
			&:before{
				@include sprite($icon-book);
				margin-top: 6px;
			}
		}

		&--rocket{
			&:before{
				@include sprite($icon-rocket);
			}
		}

		&--shield{
			&:before{
				@include sprite($icon-shield);
			}
		}

		&--block{
			&:before{
				@include sprite($icon-block);
				margin-top: 4px;
			}
		}

		&--devices{
			&:before{
				@include sprite($icon-devices);
			}
		}

		&--dnevnik{
			&:before{
				@include sprite($icon-dnevnik);
			}
		}
	}
}


/* ==========================================================================
 * slider
 * ========================================================================== */

.slider{

	&__list{
		
	}

	&__item{
		//height: 100vh;
		//min-height: 100vh;
		//
		
	}

}
 

.slide{
	background: #cde1fb 50% 0 no-repeat;
	background-size: cover;

	&--kid{
		background-image: url(../images/bg/kid.jpg);
		background-color: #4a3c3f;		
	}

	&--parent{
		background-image: url(../images/bg/parents.jpg);
		background-color: #9f9da3;		
	}

	&--teachers{
		background-image: url(../images/bg/teachers.jpg);
		background-color: #dbdbca;		
	}

	&--rocket{
		background-image: url(../images/bg/rocket.jpg);
		background-color: #509de8;
	}

	&--rocket-parent{
		background-image: url(../images/bg/rocket-parent.jpg);
	}

	&--dnevnik{
		background-image: url(../images/bg/dnevnik.jpg);
	}

	&--bg{

		@media all and (orientation:portrait) {
			background-image: none;
		}

	}

	&__outter{
		display: table;
		width: 100%;
		max-width: 1260px;
		height: 100%;
		margin: auto;
	}

	&__inner{
		display: table-cell;
		vertical-align: middle;
	}

	&__content{
		padding: 50px 50px;
		margin: auto;
		@media(min-width: 1350px){
			padding: 50px 0px;
		}
	}


	&__title{
		font-size: 42px;
		font-family: $pribambas;
		margin: 0 0 .5em;	
		@media(max-width: 766px){
			font-size: 25px;
		}
	}

	&__text{
		margin: 0 0 1.2em;		
	}
}

/* ==========================================================================
 * slide-media
 * ========================================================================== */

.slide-media{

	&--bg{
		.slide-media{
			&__image-placeholder{
				display: none;
				@media all and (orientation:portrait) {
					display: block;
				}
			}
		}
	}

	&__content{
		display: inline-block;
		vertical-align: middle;
		width: 38%;
		margin: 0 1% 0 10%;
	}

	&__image-placeholder{
		display: inline-block;
		vertical-align: middle;
		width: 50%;
		text-align: center;
	}

	&__image{
		max-width: 100%;
		height: auto;
	}

	@media all and (orientation:portrait) {
		margin: 0;
	
		&__content{
			display: block;
			margin: 0 0 50px;
			width: auto;
		}

		&__image-placeholder{
			display: block;
			text-align: center;
			width: auto;
		}
	}
}

/* ==========================================================================
 * slide-kid
 * ========================================================================== */

.slide-home{

	text-align: center;
	color: #fff;
	
	&__title{
		font-size: 54px;
		margin: 0 0 .8em;
		@media(max-width: 766px){
			font-size: 32px;
		}
	}

	&__button-placeholder{
		max-width: 255px;
		margin: 0 auto;
	}

	&__button{
		
	}
}


/* ==========================================================================
 * bx-slider
 * ========================================================================== */

.bx-slider{

}

.bx-wrapper{
	position: relative;
}

.bx-prev,
.bx-next{
	position: absolute;
	top: 50%;
	text-indent: -9999px;
	display: block;
	margin: -28px 0 0;

	&:hover{
		opacity: .8;
	}
}

.bx-prev{
	left: 30px;
	@include sprite($prev);
	@media(min-width: 1350px){
		left: 150px;
	}
}

.bx-next{
	right: 30px;
	@include sprite($next);
	@media(min-width: 1350px){
		right: 150px;
	}
}
